@import url(https://fonts.googleapis.com/css?family=Open+Sans);a {
  color: blue;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  background-color: orange;
  border-radius: 4px;
  -webkit-transition: background-color 1s 0.5s, color 2s;
  transition: background-color 1s 0.5s, color 2s;
}

a:hover {
  color: red;
  background-color: blue;
}

.rounded {
  border-radius: 3px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#app .login-page .background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
  background: no-repeat center/cover url("/img/login-bg.jpg");
}

#app .login-page .login-box {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

#app .login-page .login-box .login-form .header-form {
  width: 460px;
}

#app .login-page .login-box .login-form .header-form h1,
#app .login-page .login-box .login-form .header-form h2 {
  margin: 0;
}

#app .login-page .login-box .login-form .or-separator {
  margin: 5px 0;
  line-height: 20px;
  height: 20px;
  text-align: center;
  position: relative;
}

#app .login-page .login-box .login-form .or-separator .or {
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  z-index: 2;
}

#app .login-page .login-box .login-form .or-separator .or:after {
  content: "or";
}

#app .login-page .login-box .login-form .or-separator .line {
  position: absolute;
  top: 55%;
  height: 0;
  border-top: 1px solid #E0E0E0;
  width: 45%;
}

#app .login-page .login-box .login-form .or-separator .line.two {
  right: 0;
}

